@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Roboto', system-ui, sans-serif;
}

html {
  font-family: var(--font-sans);
  font-size: 16px;
}

/* Tối ưu UI cho màn hình Mobile */
@media (max-width: 768px) {
  html {
    font-size: 14px; /* Giảm base font-size để toàn bộ phần tử dùng 'rem' tự động thu nhỏ */
  }

  /* Ghi đè cấu trúc Ant Design trên mobile */
  .ant-card-body {
    padding: 12px !important;
  }

  .ant-btn {
    padding: 4px 12px !important;
    height: 32px !important;
  }

  .ant-btn-lg {
    height: 40px !important;
    padding: 6px 16px !important;
  }
}
