APP_NAME=Saffi
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Asia/Ho_Chi_Minh

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

R2_ACCESS_KEY_ID=xxxxxxxx
R2_SECRET_ACCESS_KEY=xxxxxxxx
R2_BUCKET=my-backup
R2_ENDPOINT=https://xxxxxxxx.r2.cloudflarestorage.com
R2_REGION=auto

TURNSTILE_SITE_KEY="cloudflare site key"
TURNSTILE_SECRET_KEY="cloudflare secret key"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_CLIENT_ID=xxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxx
GOOGLE_REDIRECT_URI=http://localhost:3030

SHOPEE_AFFILIATE_ID = "<SHOPEE_AFFILIATE_ID>"
SHOPEE_BLACKLIST_AFFILIATE_ID = "SHOPEE_BLACKLIST_AFFILIATE_ID" #use for user blacklist (wifi, address,...)
SHOPEE_FETCH_PRODUCT_API = "https://data.addlivetag.com/product-data/product-data.php"  # https://data.addlivetag.com/product-data/product-data.php
SHOPEE_BASE_API="https://affiliate.shopee.vn/api/v3"
SHOPEE_BASE_API_HANDLE="https://addlivetag.com/shopee-affiliate-api/api_handler.php"

TIKTOK_BASE_API = "https://riohub.vn/api/v1/partner/tiktok/affiliate"  # https://riohub.vn/api/v1
TIKTOK_BASE_API_KEY = "riohub key"  # https://riohub.vn/api/v1 key
TIKTOK_BASE_API_CREATOR = "riohub creator"  # https://riohub.vn/api/v1 creator
TIKTOK_POSTBACK_SECRET = "tiktok postback secret"  # tiktok postback secret

LAZADA_API_URL = "https://api.lazada.vn/rest"  # https://api.lazada.vn/rest
LAZADA_APP_KEY = "lazada app key"  # app key
LAZADA_APP_SECRET = "lazada app secret"  # app secret
LAZADA_USER_TOKEN = "lazada user token"  #user token

RESEND_API_KEY="resendAPIKEY"
RESEND_TRACKING_EMAIL="Saffi Tracking <no-reply@notify.saffi.vn>"
RESEND_TRACKING_ADMIN_EMAIL="email1,email2,email3,..."
RESEND_COMMISSION_EMAIL="Saffi Sale <sale-info@notify.saffi.vn>"

TELEGRAM_BOT_TOKEN="telegram bot token"
TELEGRAM_CHAT_ID="telegram chat id"
TELEGRAM_SEND_MESSAGE_API="https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage"

ZALO_BOT_API_KEY="zalo bot key"

#for frontend
VITE_GOOGLE_CLIENT_ID="${GOOGLE_CLIENT_ID}"
