PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3309
DB_DATABASE=zeplaobot
DB_USERNAME=saffi_user
DB_PASSWORD=saffi12345

SHOPEE_BASE_API='https://affiliate.shopee.vn/api/v3'
SHOPEE_FETCH_PRODUCT_API='https://data.addlivetag.com/product-data/product-data.php'
SHOPEE_AFFILIATE_ID=<YOUR AFFILIATE ID>